{#
/**
 * @file adverts-swiper.html.twig
 * Default theme implementation to present adverts-swiper.
 *
 * Available variables:
 * - adverts: A list of adverts items.
 *
 * @see template_preprocess_adverts_swiper()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('product_adverts/swiper') }}
<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for advert in adverts %}
      <div class="swiper-slide"><img src="{{ file_url(advert.image.fileuri) }}"></div>
    {% endfor %}
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
