{#
/**
 * @file adverts-swiper.html.twig
 * Default theme implementation to present adverts-swiper.
 *
 * Available variables:
 * - adverts: A list of adverts items.
 *
 * @see template_preprocess_adverts_swiper()
 *
 * @ingroup themeable
 */
#}
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
