{#
/**
 * @file product_adverts.html.twig
 * Default theme implementation to present Product adverts data.
 *
 * This template is used when viewing Product adverts pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_product_adverts()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('product_adverts') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
